html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  --first-color: #363636;
  --second-color: #dc2f2f;
  --third-color: #ff894c;
  --fourth-color: #f8f8f8;

  color: var(--first-color);
  font-weight: 900;
}
